.add_task_form{
    width: 60%;
    height: 40px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    background-color: rgb(108,32,112);
    border-radius: 50px;
    align-items: center;
}

.task_text{
    width: 60%;
    display: flex;
    margin-left: auto;
    margin-right: 5px;
    background-color: rgb(43, 43, 43);
    color: white;
}

.add_button{
    margin-right: auto;
    background-color: rgb(220, 220, 220);
    font-weight: bold;
    border-radius: 10px;
}