.complete{
    text-decoration: line-through;
}

.text{
    word-wrap: break-word;
    margin-left: 20px;
    margin-right: 5px;
}

.list_item{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    height: max-content;
    color: rgb(255, 255, 255);
    background-color: rgb(43, 43, 43);
    border-radius: 15%;
}